# Node dependencies
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Mobile (React Native / Expo)
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store

# Databases
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
